

.startButton {
    height: 50px;
    width: 200px;
    border: 1px solid red;
    background-color: black;
    font-size: 30px;
    color: red;
}

.restartButton {
  height: 50px;
  width: 200px;
  border: 1px solid red;
  background-color: whitesmoke;
  font-size: 30px;
  color: red;
}